body {
    font-family: arial, sans-sarif;
    background: #fff;
}

/*Header and navigation stuff*/
header {
    background: gray;
    width: 100%;
    display: grid;
    padding: 20px 0px 20px 0px;
    grid-template-columns: 10% 70% 5% 5% 5% 5%;
}

.about{border: 1px dotted blue;}
.store{border: 1px dotted blue;}
.gmail{border: 1px dotted blue;}
.images{border: 1px dotted blue;}
.apps{border: 1px dotted blue;}
.signIn{border: 1px dotted blue;}

/*main body - google image and form*/

main {
    border: 1px solid red;
    width: 100%;
    padding-top: 150px;
}

.logoHead {
    border: 1px solid red;
    margin: auto;
    width: 50%;
}

.logo {
    border: 1px solid red;
    display: block;
    margin: auto;
}

.searchForm {
    border: 1px dotted green;
    margin: auto;
    width: 600px;
}


.searchBar {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
}

input[type="submit"] {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    height: 36px;
    line-height: 27px;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

input[type="submit"]:hover {
    color: black;
    border: 1px solid #757575;
    box-shadow: 0px 1px 1px #757575;
}

.searchButton {
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.luckyButton {
    grid-column-start: 3;
    grid-column-end: 5;
}

.search {
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 20px;
}
/*fix searchBar so that it is wider*/







